<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<Layout>
<Header />

  <body>
  <Content>

  <% render 'layouts/navbar' %>
    <%= yield %>
    </Content>
  
  <Footer style={{ textAlign: "center" }}>El Brown ©2021.</Footer>
  </Layout>
  </body>
</html>
